
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /students/{studentId} {
      allow read, write: if true;
      match /activity/{activityId} {
        allow read, write: if true;
      }
    }
    
    match /mentors/{mentorId} {
      allow read, write: if true;
      match /activity/{activityId} {
        allow read, create, update: if true;
      }
    }

    match /courses/{courseId} {
      allow read, write: if true;
    }

    match /subjects/{subjectId} {
      allow read, write: if true;
    }

    match /materials/{materialId} {
      allow read, write: if true;
    }

    match /privateDoubts/{doubtId} {
      allow read, write: if request.auth != null;
    }

    match /publicDoubts/{doubtId} {
      allow read, write: if true;
    }

    match /liveSessions/{sessionId} {
      allow read, write: if true;
    }

    match /liveClassHistory/{historyId} {
      allow read, write: if true;
    }

    match /liveAttendanceLogs/{logId} {
      allow read, write: if true;
    }

    match /admins/{adminId} {
      allow read: if true;
    }
  }
}
